@import './../../../styles/_variables.scss';
.carousel-container{
  margin: 15px auto 0 0;
  width: 100%;
  color: $gray-dark;
}

.slick-prev {
    left: 0px;
    z-index: 1;
}

.slick-next {
    right: 0px;
    z-index:1;
}

.slick-slide img {
    display: block;
    width: 100%;
    height:250px;
}