.package-cards{
    padding: 0 0 15px 0;
    margin:10px 0;
}
.card{
	width:20%;
	border-radius: 10px;
	padding: 15px;
    display: inline-block;
    margin: 24px 20px 0 0;
    min-height: 350px;
	text-align: center;
	.card-image img{
		text-align: center;

	}
	.card-content{
		padding: 24px 5px;
		.h3{
			font-size: 16px;
			line-height:0;
		}
	}
}