@import './_variables.scss';

.logo{
	background: url(./../components/Logo/assets/app-exchange-logo.png) no-repeat;
    display: inline-block;
    width: 85%;;
    height: 45px;
    margin: 5px 0 0 10px;
    padding: 10px 1% 0 10px;
    text-align: center;
}

.carousel-container{
  color: $gray-dark;
}

.header{
	background:$black-light;
}

.nav-bar{
	background:$black-light;
}

.search-bar{
    .search-input{
        color: $white;
    }
}

.accordion{
	background:$whitish-gray;
	section h3{
		color:white;
	}
}

.accordion-header{
	background:$gray-medium;
}

.accordion-content{
	background:$white;
}

.login-button{
  color:white;
  background-color: $blue-light;
  &:focus {
    background-color: $blue;
  } 
}

.popular-categories-container{
	.popular-categories{
		background: $gray-dark;
		.popular-list{
		    a{
		    	color:$white;
		    }
		}
	}
}

footer.page-footer{
	background:$gray-dark;
}

.btn.steps-button{
	background:$red-pale;
	&:hover,&:focus{
		background:$red-pale;
		color:$white;
	}
}

.search-icon{
    color: $gray-dark;
}