@import './../../styles/_variables.scss';
.display{
	display:block;
}

.accordion{
	margin:20px 0;
	padding:10px 2%;
	section h3{
		margin:0px;
		font-family:'SapientSansBold';
		cursor:pointer;
	}
}

.accordion-header{
	padding:10px 5px;
	border-bottom:1px solid $white;
}

.accordion-content{
	padding:10px;
	font-family:'SapientSansRegular';
	-webkit-transition: all 2s ease-in-out;
  	-moz-transition: all 2s ease-in-out;
  	-ms-transition: all 2s ease-in-out;
  	transition: all 2s ease-in-out;
}